.col-md-8
  %h1 New Issue
  
  = simple_form_for @issue, :html => { :class => 'form-vertical' } do |form|
    = form.input :repository
    = form.input :title
    = form.input :body
    = form.submit 'Submit new issue'